<div class="pane-group">
  <div class="pane sidebar" style="max-width: 350px; ">
    <div style="border-bottom: 1px solid rgba(255, 255, 255, 0.2); background: #2980b9;">
      <img src="images/logo.png" width="100%" />
    </div>

    <div>

      <div ng-repeat="(index, beaconContainer) in beaconTree track by index" style="padding: 15px;">
          <strong>{{index.toUpperCase() | guid}} ({{beaconContainer.length}})</strong>
          <div ng-repeat="(beaconIndex, beacon) in beaconContainer | orderBy: '-accuracy'" style="border-bottom: 1px solid #e7e7e7; padding: 10px; text-transform: uppercase; font-size: 11px; color: #666;">
              <div>Major: {{beacon.major}}</div>
              <div>Minor: {{beacon.minor}}</div>
              <div>Distance: {{beacon.accuracy.toString().substr(0,3)}}m ({{beacon.proximity}})</div>
          </div>
      </div>

    </div>

  </div>
  <div class="pane">
      <div class="padded-more">

      </div>
  </div>
</div>
